<?xml version="1.0" encoding="UTF-8" ?>
<launch>

    <include file="$(find zed_wrapper)/launch/zed.launch"/>
    <include file="$(find mavros)/launch/px4.launch"/>

    <node pkg="px4_indoor_setup"
          name="remap_pose_node"
          type="remap_pose_node"
          output="screen"
          required="true">
        <param name="odom_topic_name" value="/odometry/filtered"/>
        <!--        <param name="odom_topic_name" value="/zed/zed_node/odom"/>-->
    </node>
</launch>
